---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Carousel from "../components/Carousel.astro";
import MainInformation from "../components/MainInformation.astro";
import Banner from "../components/Banner.astro";
---

<Layout title="Control Home - Seguridad e innovación para tu hogar">
  <Header />
  <Carousel />
  <MainInformation />
  <Banner />
  <p>1</p>
</Layout>
