<header>
  <img src="/iconControl.jpg" class="picture" />
  <div class="container_text">
    <h1 class="title">Control Home</h1>
    <span class="eslogan">Seguridad e innovación para tu hogar</span>
  </div>
  <div class="container_menu">
    <img src="/menu.svg" alt="Menú" class="menu_icon"/>
  </div>
</header>

<style>
  header {
    display: flex;
    border: 1px solid #000;
  }

  .picture {
    width: 70px;
    height: 70px;
    align-self: center;
    margin: 0 20px;
  }

  .container_text {
      margin: 4px 0;
      margin-left: 20px;
  }

  .title {
    font-size: 23px;
  }
  
  .eslogan {
    font-size: 14px;
  }

  .container_menu {
    align-self: center;
    background: #329FD7;
    padding: 5px;
  }
</style>
